{% extends "base.html" %}
{% block title %}Hecksmosis{% endblock title %}
{% block content %}
<p>
    My personal webpage!
</p>
{% if logged_in %}
<a href="/me">View my page</a>
<form method="post" action="/logout">
    <input type="submit" value="Logout">
</form>
{% else %}
<p>
    <a href="/signup">Signup</a> or <a href="/login">Login</a>
</p>
{% endif %}
<p>
    <a href="https://www.shuttle.rs/blog/2022/08/11/authentication-tutorial">View full article</a>
</p>
<p>
    <a href="https://github.com/kaleidawave/axum-shuttle-postgres-authentication-demo">View repository</a>
</p>
<p>
    <a href="/users">View all users</a>
</p>
{% endblock content %}